*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{   
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #6ce1ee 100%);
    background-repeat: no-repeat;   
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: auto;
}
.todo-app{
    display: flex;
    width: 600px;
    min-height: 500px;
    text-align: center;
    background-color:#161d3b;
    justify-content: center;
    margin-top: 50px;
    border-radius: 3%;
    box-shadow: 5px 10px #83858d;
}
.todo-input::placeholder {

    font-size: 15px;
  }
h1{
    color: #fff;
    font-size: 22px;
    margin-top: 11px;
    margin-bottom: 15px;
    font-weight: bold;
}
.todo-input {
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 300px;
    height: 10px;
    background: transparent;
    border: 2px solid #6ce1ee;
    padding: 12px 32px 12px 16px;
    color: rgb(255, 253, 253);
    
}
.todo-button-edit{
    border: none;
    color: #161d3b;
    cursor: pointer;
    border-radius: 7%;
    padding: 10px;
    font-size: 15px;
    margin-left: 9px;
    font-weight: bold;
    background: linear-gradient(0deg, #D9AFD9 0%, #6ce1ee 100%);
    border: 2px solid #ffffff;
}
.todo-button{
    border: none;
    color: #161d3b;
    cursor: pointer;
    border-radius: 5%;
    padding: 10px;
    font-size: 15px;
    margin-left: 9px;
    font-weight: bold;
    background: linear-gradient(0deg, #D9AFD9 0%, #6ce1ee 100%);
}
.todo-input.edit {
    border: 2px solid #189aa8;
}
.todo-input-edit{
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 300px;
    height: 10px;
    background: transparent;
    border: 2px solid #fff;
    padding: 12px 32px 12px 16px;
    color: rgb(255, 253, 253);
    margin-right: 5px;
}
.todo-button.edit {
    background: linear-gradient(0deg, #D9AFD9 0%, #6ce1ee 100%);
    padding: 16px 22px;
}
.todo-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    position: relative;

}
.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    background: lightblue;
    padding: 12px;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 15px;
    width: 420px;
}
.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}
.delete-icon {
    margin-right: 5px;
    color: #161d3b;
}
  
.edit-icon {
    color: #161d3b;
}
.todo-button.edit {
    background: linear-gradient(0deg, #D9AFD9 0%, #6ce1ee 100%);
    padding: 16px 22px;
}
.todo-form {
    margin-bottom: 17px;
}
